<h3>{{ listName() }}</h3>
<ul>
  @for (character of characters(); track character.id; let idx = $index) {

  @if(character.power > 500) {
  <li>
    <span>{{ idx + 1 }} - {{ character.name }}</span>

    <strong [class.text-danger]="character.power > 8000" [class.text-primary]="character.power < 8000">
      ({{ character.power }})
    </strong>

  </li>
  } @else {
  <li>´
    <strong class="text-muted">
      Aqui no vale la pena ver el poder de {{ character.name }} ({{ character.power }})
    </strong>
  </li>
  }
  }
</ul>